/* Variables */
:root {
  /* ---- Primary ---- */
    --ModerateViolet: hsl(263, 55%, 52%);
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --VeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
  /* ---- Neutral ---- */
    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}
/* To Tackle The Accessibility Issue */
  .hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
/* Global Rules */
  p {
    margin: 0;
  }
  body {
    min-height: 80vh;
    background-color: var(--LightGrayishBlue);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
/* Styling The Testimonials */
  .testimonials {
    max-width: 1105px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 165px auto;
    justify-content: center;
    gap: 25px 30px;
  }
  .box {
    display: flex;
    flex-direction: column;
    padding: 25px 30px 15px;
    border-radius: 7px;
    gap: 16px;
    -webkit-box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 15%);
    transition: 0.3s;
  }
  .box:hover {
    transform: scale(1.05);
  }
  .one {
    background-color: var(--ModerateViolet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 20%;
    grid-column: span 2;
    color: var(--White);
  }
  .two {
    background-color: var(--VeryDarkGrayishBlue);
    color: var(--White);
  }
  .there,
  .four {
    background-color: var(--White);
    color: var(--VeryDarkGrayishBlue);
  }
  .there {
    grid-row: span 2;
  }
  .five {
    background-color: var(--VeryDarkBlackishBlue);
    grid-column: span 2;
    color: var(--White);
  }
  .image-author {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
  .image-author > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .one .image-author > img {
    border: 2px solid var(--LightGray);
  }
  .five .image-author > img {
    border: 2px solid var(--ModerateViolet);
  }
  .one .author,
  .two .author,
  .five .author {
  font-weight: 500;
  }
  .verified {
    opacity: 50%;
    font-size: 11px;
  }
  .description {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .quote {
    opacity: 70%;
    line-height: 19px;
    font-size: 0.83rem;
  }
        /* ------ Make it Responsive ------ */
  @media (max-width: 1349px)
  {
    .testimonials {
      max-width: 100%;
      grid-template-columns: repeat(2 , 400px);
      margin:auto;
    }
  }
  @media (max-width: 991px) {
    .testimonials {
      max-width: 100%;
      grid-template-columns: repeat(2 , 300px);
      margin: auto;
    }
  }
  @media (max-width: 767px) {
    .testimonials {
      max-width: 85%;
      grid-template-columns: repeat(4 , 1fr);
      margin: auto;
    }
    .box {
      grid-column: span 4;
      grid-row: span 1;
    }
  }
  @media (max-width: 499px) {
    .testimonials {
      max-width: 100%;
    }
    .box {
      padding: 35px;
    }
    .one {
      background-position: top right 10%;
    }
    .there {
      grid-row:  5;
    }
    .description {
      font-size: 1.4rem;
    }
    .quote {
      font-size: 0.897rem;
    }
  }